/* Global style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
li,button,input,p{
    font-size: 1.6rem;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    font-weight: 400;
}
h4,h5{
    font-size: 2.8rem;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: white;
}
button{
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}
button:hover{
    background: #27394e;
    transition: background 0.6s ease-in-out;

}
/* Nav section with hero */

.main-head{
    background: #131c27;
    color: white;
    position: sticky;
    top: 0px;   
    z-index: 1;
}
nav{
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#logo{
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
}

.hero{
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),transparent),url('/img/landing-page.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3{
    padding: 4rem 3rem 0 0;
}
.hero h4{
    padding: 0px 11rem 36px;
}


/* locations section */

#locations{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0 ,0, 0.5), transparent),url("/img/new-york-page.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.locations-head{
    width: 90%;
    margin: auto;
}
.locations-head h2{
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    font-weight: bolder;
    padding: 1rem 0rem;
    background: linear-gradient(rgb(255, 0, 64),rgb(0, 153, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.locations-head h3{
    padding: 3rem 0rem;
    background: linear-gradient(red,blue);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}

.cloud{
    position: absolute;
    top: 0%;
    right: 0%;

}
.moving-cloud-1{
    animation: cloudAnimation 3s infinite alternate ease-in-out;

}
.moving-cloud-2{
    top: 20%;
    z-index: -2;
    opacity: 0.5;
    animation: cloudAnimation 3s infinite alternate ease-in-out;

}
/* Benefits section */

.benefits-head{
    background: #343c44;
    padding: 5rem;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
.cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
    

}
.card{
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0 ,0, 0.5);
    text-align: center;

}


.cards img{
    max-width: 15%;
    margin: 2rem;
}
.card h3,p{
    padding: 2.6rem;
}
.card-icon{
    background:#27394e;

}

/* Contact Secton  */
#contact{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0 ,0, 0.5), transparent),url('/img/landing-page-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-wrapper{
    background: rgba(19,28,39,0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
}
.form-head{
    text-align: center;
    padding: 4rem;
}
.name-form,.email-form{
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
}
.text-form{
    height: 3rem;
    padding: 3rem ;
    text-align: center;

}
.text-form label{
    width: 7rem;
    height: 7rem;
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
}
.form-wrapper label{
    margin: 0rem 3rem;

}
.form-wrapper button{
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.form-wrapper input{
    padding: 0.6rem 5rem;
}
/* Footer Section  */
footer{
    background:#27394e;
    color: white;
}

.footer-wrapper{
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 20vh;
    flex-wrap: wrap;
}
footer h5{
    display: flex;
    flex: 1 1 40rem;
}
footer ul{
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
}

@keyframes cloudAnimation{
    from{
        transform: translate(10%, -10%);
    }
    to{
        transform: translate(0%, 0%);
    }
}
/* media section */
@media screen and (max-width: 932px){
   
    html{
        font-size: 45%;
    }
    nav{
        text-align: center;
    }
    #logo{
        padding: 1rem;
    }
    .cloud{
        height: 40rem;
    }
    .moving-cloud-1{
        z-index: -1;
    }
    .moving-cloud-2{
        z-index: -2;
    }
    .locations-head h3{
        background: rgba(0, 0 ,0, 0.5);
        -webkit-text-fill-color: white
    }
}